// colors
$main-blue: #003366;
$white: #fff;

// font-families
$base-font: Verdana,
Geneva,
Tahoma,
sans-serif;

// font-sizes
$xlarge: 1.625rem;
$medium: 1.3125rem;
$regular: 1.2rem;
$small: 1rem;
$xsmall: 0.9rem;