@import "~react-image-gallery/styles/scss/image-gallery.scss";

.fade.modal.show {
  padding-left: 0 !important;
}

.modal-dialog {
  max-width: 800px;

  @media screen and (max-width: 899px) {
    max-width: 700px;
  }
}

.project-showcase.row {
  margin: 0 auto;
  justify-content: space-between;
}

.project-description {
  margin: 0 auto;
  width: 60%;
}