@import "~react-image-gallery/styles/scss/image-gallery.scss";

.modal-title {
  color: $main-blue;
  margin-left: $side-pad;
}

.fade.modal.show {
  padding-left: 0 !important;
}

.modal-dialog {
  max-width: 800px;

  @media screen and (max-width: 899px) {
    max-width: 700px;
  }
}

.project-showcase.row {
  margin: 0 auto;
  justify-content: space-between;
}

.project-description {
  margin: 0 auto;
  padding-top: $side-pad;
  width: 80%;

  @media screen and (max-width: 991px) {
    padding-top: 0;
  }
}

.project-tech {
  @media screen and (max-width: 991px) {
    padding-top: $side-pad;
  }
}

p,
li {
  font-size: $xsmall;
}